:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0;
  min-height: 100%;
}
.game-board {
  display: flex;
  justify-content: center;
}
.game-tile {
  background-color: grey;
  height: 0.5rem;
  width: 0.5rem;
  color: white;
  padding: 2rem;
  margin-bottom: -1.5rem;
  border: outset white 2px;
}
