:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #e5f9e0;
}

h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid blue
}

.red-text {
  color: red;
}

#bigger-Font {
  font-size: 4reml
}