:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  font-size: 3rem;
}

.your-name {
  border: 4px dashed lemonchiffon;
}

button {
  background-color: green;
}